force-app/main/default/flows/assign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>high</name>
        <label>high</label>
        <locationX>266</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>answer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>highs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignac</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>low</name>
        <label>low</label>
        <locationX>565</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>answer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOws</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignac</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>medium</name>
        <label>medium</label>
        <locationX>416</locationX>
        <locationY>735</locationY>
        <assignmentItems>
            <assignToReference>answer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mediums</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignac</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Risk_zero</name>
        <label>Risk zero</label>
        <locationX>289</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Yeszero</name>
        <label>Yeszero</label>
        <locationX>555</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>Account_Record.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>411</locationX>
        <locationY>579</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assignlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>low</targetReference>
            </connector>
            <label>Assignlow</label>
        </rules>
        <rules>
            <name>assignmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>medium</targetReference>
            </connector>
            <label>assignmed</label>
        </rules>
        <rules>
            <name>assignhigh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>high</targetReference>
            </connector>
            <label>assignhigh</label>
        </rules>
    </decisions>
    <decisions>
        <name>zero</name>
        <label>zero</label>
        <locationX>405</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Record.MasterRecord.Total_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Yeszero</targetReference>
            </connector>
            <label>Zero</label>
        </rules>
        <rules>
            <name>NOT_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Record.Total_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>NOT null</label>
        </rules>
        <rules>
            <name>Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Risk_zero</targetReference>
            </connector>
            <label>Risk</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Add</name>
        <dataType>Number</dataType>
        <expression>{!Account_Record.Total_Amount__c}+{!$Record.Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>assign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>assign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_Record</name>
        <label>Account Record</label>
        <locationX>127</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>zero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Total_Amount__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>assignac</name>
        <label>assignac</label>
        <locationX>415</locationX>
        <locationY>891</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Choice__c</field>
            <value>
                <elementReference>answer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount__c</field>
            <value>
                <elementReference>Add</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Account_Record</targetReference>
        </connector>
        <object>Risk_calculation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>answer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>highs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>High</stringValue>
        </value>
    </variables>
    <variables>
        <name>LOws</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </variables>
    <variables>
        <name>Mediums</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </variables>
</Flow>
