force-app/main/default/flows/Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>emai</name>
        <label>email</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <actionName>Contact.approved_by_manager</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.approved_by_manager</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>email</name>
        <label>email</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>nimitshah240@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>fir</name>
        <label>fir</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>one</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Low</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sec</name>
        <label>sec</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>one</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Medium</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>thir</name>
        <label>thir</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>one</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>High</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>zer</name>
        <label>zer</label>
        <locationX>556</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>totals</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>where</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meduim</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AllAssign</name>
        <label>AllAssign</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fir</targetReference>
            </connector>
            <label>assign</label>
        </rules>
        <rules>
            <name>assing2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sec</targetReference>
            </connector>
            <label>assing2</label>
        </rules>
        <rules>
            <name>Assign3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>thir</targetReference>
            </connector>
            <label>Assign3</label>
        </rules>
    </decisions>
    <decisions>
        <name>if</name>
        <label>if</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>zer</targetReference>
            </connector>
            <label>zero</label>
        </rules>
        <rules>
            <name>notZero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>where</targetReference>
            </connector>
            <label>notZero</label>
        </rules>
    </decisions>
    <decisions>
        <name>where</name>
        <label>where</label>
        <locationX>776</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>updat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>names</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Look.recordName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AllAssign</targetReference>
            </connector>
            <label>updat</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Risklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Choice__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Add</name>
        <dataType>Number</dataType>
        <expression>{!totals}+{!Total}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>First</name>
        <label>First</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>getting</targetReference>
        </connector>
        <faultConnector>
            <targetReference>email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Look.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total__c</field>
            <value>
                <elementReference>Total</elementReference>
            </value>
        </inputAssignments>
        <object>Risk_calculation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getting</name>
        <label>getting</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if</targetReference>
        </connector>
        <faultConnector>
            <targetReference>emai</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Look.recordName</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>names</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>totals</assignToReference>
            <field>Total_Amount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Look.recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Choice__c</field>
            <value>
                <elementReference>one</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount__c</field>
            <value>
                <elementReference>Add</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>First</targetReference>
        </connector>
        <fields>
            <name>New</name>
            <fieldText>&lt;p&gt;{!AccName.Name} Name&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AccName.Name</objectFieldReference>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Look</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Risk_calculation__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Total</name>
            <dataType>Number</dataType>
            <fieldText>Total</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>names</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>one</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totals</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
