force-app/main/default/flows/pbtf3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send</name>
        <label>send</label>
        <locationX>574</locationX>
        <locationY>557</locationY>
        <actionName>Contact.Sending</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Sending</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>check</name>
        <label>check</label>
        <locationX>457</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>prospecting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualif</targetReference>
            </connector>
            <label>checking</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qualif</name>
        <label>Qualif</label>
        <locationX>370</locationX>
        <locationY>497</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Qualification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send</targetReference>
            </connector>
            <label>Qualify</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>prior</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!$Record.StageName})</expression>
    </formulas>
    <interviewLabel>pbtf3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>pbtf3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>check</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>prospecting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Prospecting</stringValue>
        </value>
    </variables>
    <variables>
        <name>Qualification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Qualification</stringValue>
        </value>
    </variables>
</Flow>
